* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #333333;
  font-size: 16px;
  font-family: "microsoft yahei"; }

a {
  text-decoration: none; }

li {
  list-style: none; }

img {
  object-fit: cover; }

.index .nav-wrap {
  width: 100vw;
  position: relative; }
  .index .nav-wrap .nav {
    position: absolute;
    padding: 28px 22px 0 22px;
    width: 100vw; }
    .index .nav-wrap .nav:before, .index .nav-wrap .nav:after {
      content: " ";
      display: table; }
    .index .nav-wrap .nav:after {
      clear: both; }
    .index .nav-wrap .nav .logo {
      position: absolute;
      z-index: 2;
      width: 180px;
      left: 22px;
      top: 28px; }
    .index .nav-wrap .nav .logo-white {
      display: none; }
    .index .nav-wrap .nav .icon-menu {
      position: absolute;
      z-index: 2;
      color: white;
      right: 22px;
      top: 28px;
      font-size: 28px; }
    .index .nav-wrap .nav .nav-menu {
      display: none;
      width: 100vw;
      position: absolute;
      top: 0;
      left: 0;
      background: white;
      z-index: 2; }
      .index .nav-wrap .nav .nav-menu .nav-menu-scroll {
        height: 100vh;
        overflow: scroll; }
      .index .nav-wrap .nav .nav-menu .menu-header {
        padding: 20px;
        position: relative; }
        .index .nav-wrap .nav .nav-menu .menu-header img {
          width: 50vw; }
        .index .nav-wrap .nav .nav-menu .menu-header .close {
          background: url("../img/close.png") 50% 50% no-repeat;
          background-size: cover;
          height: 32px;
          width: 32px;
          display: inline-block;
          right: 20px;
          position: absolute;
          top: 20px; }
      .index .nav-wrap .nav .nav-menu .menu-list {
        border-top: 2px solid #ebebeb;
        padding: 0 25px; }
        .index .nav-wrap .nav .nav-menu .menu-list > li {
          border-bottom: 2px solid #ebebeb; }
        .index .nav-wrap .nav .nav-menu .menu-list a {
          line-height: 60px;
          text-align: center; }
          .index .nav-wrap .nav .nav-menu .menu-list a .icon-arrow-down {
            display: none; }
        .index .nav-wrap .nav .nav-menu .menu-list .active p {
          color: #06bf75;
          font-weight: 700; }
        .index .nav-wrap .nav .nav-menu .menu-list .active i {
          color: #06bf75; }
        .index .nav-wrap .nav .nav-menu .menu-list .child-menu {
          display: none; }
          .index .nav-wrap .nav .nav-menu .menu-list .child-menu > li {
            text-align: center; }
          .index .nav-wrap .nav .nav-menu .menu-list .child-menu a {
            color: #06bf75; }
      .index .nav-wrap .nav .nav-menu .menu-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: 2px solid #ebebeb;
        padding-bottom: 83px; }
        .index .nav-wrap .nav .nav-menu .menu-footer a {
          margin-top: 23px;
          line-height: 54px;
          width: 152px;
          text-align: center;
          border-radius: 4px;
          border: 1px solid #333333; }
        .index .nav-wrap .nav .nav-menu .menu-footer .active {
          border: none;
          background: #06bf75;
          color: white; }
  .index .nav-wrap .swiper-container {
    width: 100%;
    height: 291px; }
    .index .nav-wrap .swiper-container .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #999999;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center; }
      .index .nav-wrap .swiper-container .swiper-slide img {
        width: 100%;
        height: 291px; }
    .index .nav-wrap .swiper-container .swiper-pagination-bullet {
      width: 16px;
      height: 8px;
      text-align: center;
      line-height: 20px;
      font-size: 12px;
      color: #000;
      opacity: 1;
      background: white;
      border-radius: 2px;
      z-index: 1;
      position: relative;
      top: -1px; }
    .index .nav-wrap .swiper-container .swiper-pagination-bullet-active {
      color: #fff;
      background: #06bf75; }
    .index .nav-wrap .swiper-container .swiper-pagination-bullets {
      left: 50%;
      width: auto;
      transform: translateX(-50%);
      background: #686b6e;
      padding: 5px;
      border-radius: 4px;
      bottom: 40px; }
  .index .nav-wrap .nav-banner {
    width: 100vw;
    height: 260px; }

.index .suspension .nav {
  position: fixed;
  z-index: 2;
  background: #06bf75;
  height: 60px; }
  .index .suspension .nav .logo {
    top: 18px; }
  .index .suspension .nav .icon-menu {
    top: 18px; }

.index section {
  padding-top: 40px; }

.index section h4 {
  color: #06bf75;
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  position: relative;
  padding-bottom: 74px; }
  .index section h4::after {
    content: '';
    display: block;
    width: 114px;
    height: 4px;
    border-radius: 2px;
    background: #cccccc;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 56px; }

.index .feature ul {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .index .feature ul > li {
    margin: 0 17px 42px; }
  .index .feature ul > li > a {
    width: 274px;
    height: 288px;
    border: 1px solid #cccccc;
    display: inline-block;
    position: relative;
    border-radius: 2px; }
    .index .feature ul > li > a .icon {
      width: 274px;
      height: 132px; }
    .index .feature ul > li > a .icon-item1 {
      background: url("../img/icon.png") -80px -446px no-repeat; }
    .index .feature ul > li > a .icon-item2 {
      background: url("../img/icon.png") -397px -446px no-repeat; }
    .index .feature ul > li > a .icon-item3 {
      background: url("../img/icon.png") -1012px -446px no-repeat; }
    .index .feature ul > li > a .icon-item4 {
      background: url("../img/icon.png") -699px -446px no-repeat; }
    .index .feature ul > li > a .info {
      padding: 0 44px 30px;
      color: inherit; }
      .index .feature ul > li > a .info h5 {
        font-size: 20px;
        text-align: center;
        padding-top: 8px;
        color: inherit; }
      .index .feature ul > li > a .info p {
        padding-top: 18px;
        text-align: center;
        line-height: 25px;
        color: inherit;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        -webkit-line-clamp: 3;
        overflow: hidden;
        word-break: break-all; }
  .index .feature ul .active a {
    background: #06bf75;
    color: white;
    cursor: pointer;
    border: 1px solid white; }
  .index .feature ul .active .icon-item1 {
    background: url("../img/icon.png") -80px -250px no-repeat; }
  .index .feature ul .active .icon-item2 {
    background: url("../img/icon.png") -397px -250px no-repeat; }
  .index .feature ul .active .icon-item3 {
    background: url("../img/icon.png") -704px -250px no-repeat; }
  .index .feature ul .active .icon-item4 {
    background: url("../img/icon.png") -1008px -250px no-repeat; }

.index .application ul {
  margin: 0 auto;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column; }

.index .application li {
  margin-bottom: 28px; }
  .index .application li a {
    width: 90vw;
    height: 50vw;
    margin: 2px;
    display: inline-block;
    position: relative; }

.index .application img {
  width: 90vw;
  height: 50vw; }

.index .application .application-item {
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom, rgba(79, 79, 79, 0) 38%, rgba(69, 69, 69, 0) 41%, rgba(0, 0, 0, 0.22) 61%, rgba(0, 0, 0, 0.65) 100%, rgba(0, 0, 0, 0.65) 101%);
  width: 90vw;
  height: 25vw;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .index .application .application-item h6, .index .application .application-item p, .index .application .application-item i {
    text-align: center;
    color: white; }
  .index .application .application-item h6 {
    font-size: 18px;
    margin-bottom: 3vw;
    margin-top: 6vw; }
  .index .application .application-item p {
    font-size: 16px; }

.index .application .active > a {
  cursor: pointer; }
  .index .application .active > a:before {
    content: '';
    background: #06bf75;
    opacity: 0.9;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; }
  .index .application .active > a .application-item {
    display: flex; }

.index .introduction .introduction-content {
  background: url("../img/introduction.jpg") 50% 50% no-repeat;
  width: 100vw;
  height: 387px;
  background-size: cover;
  position: relative; }
  .index .introduction .introduction-content p {
    color: white;
    line-height: 28px;
    width: 80vw;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    overflow: hidden;
    word-break: break-all;
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    max-height: 84px; }

.index .new .new-wrap:before, .index .new .new-wrap:after {
  content: " ";
  display: table; }

.index .new .new-wrap:after {
  clear: both; }

.index .new .new-wrap li {
  width: 100vw;
  padding: 0 25px;
  margin-bottom: 30px; }

.index .new .new-wrap .new-item {
  display: flex;
  justify-content: center; }
  .index .new .new-wrap .new-item img {
    width: 30vw;
    height: 20vw; }
  .index .new .new-wrap .new-item:hover {
    cursor: pointer; }

.index .new .new-wrap .new-content {
  margin-left: 14px; }
  .index .new .new-wrap .new-content h5 {
    font-size: 16px;
    font-weight: 700;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    overflow: hidden;
    word-break: break-all;
    width: 196px; }
  .index .new .new-wrap .new-content p {
    line-height: 28px;
    color: #666666;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    overflow: hidden;
    word-break: break-all;
    font-size: 16px; }
  .index .new .new-wrap .new-content .new-info {
    font-size: 14px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between; }
    .index .new .new-wrap .new-content .new-info .time {
      color: #666666; }
    .index .new .new-wrap .new-content .new-info .more {
      color: #06bf75;
      position: relative;
      padding-right: 14px; }
      .index .new .new-wrap .new-content .new-info .more:before {
        content: '';
        background: url("../img/icon.png") -848px -118px no-repeat;
        width: 26px;
        height: 16px;
        position: absolute;
        left: -32px;
        top: 4px; }

.index footer {
  margin-top: 20px;
  height: 480px;
  width: 100vw;
  background-size: cover;
  background: url("../img/footer.jpg") 50% 50%; }
  .index footer .footer-wrap {
    width: 100vw;
    padding: 30px 25px 0;
    display: flex;
    flex-direction: column; }
  .index footer .footer-content {
    color: #999999;
    text-align: center; }
    .index footer .footer-content .footer-logo {
      color: inherit;
      font-size: 18px;
      text-align: center;
      font-weight: 700;
      position: relative;
      left: 44px;
      display: inline-block; }
      .index footer .footer-content .footer-logo:before {
        content: '';
        background: url("../img/logo-no-text.png") no-repeat;
        background-size: 84px 20px;
        width: 84px;
        height: 20px;
        position: absolute;
        top: 1px;
        left: -88px; }
    .index footer .footer-content .contact {
      margin: 20px 0 26px 0;
      align-items: center;
      display: flex;
      flex-direction: column; }
      .index footer .footer-content .contact li {
        width: 280px;
        color: #999999;
        margin-bottom: 10px;
        font-size: 14px;
        position: relative;
        left: 18px;
        text-align: left; }
      .index footer .footer-content .contact .contact-item1:before {
        content: '';
        background: url("../img/icon.png") -68px -620px no-repeat;
        width: 18px;
        height: 18px;
        position: absolute;
        left: -26px; }
      .index footer .footer-content .contact .contact-item2:before {
        content: '';
        background: url("../img/icon.png") -68px -649px no-repeat;
        width: 18px;
        height: 18px;
        position: absolute;
        left: -26px; }
      .index footer .footer-content .contact .contact-item3:before {
        content: '';
        background: url("../img/icon.png") -68px -675px no-repeat;
        width: 18px;
        height: 18px;
        position: absolute;
        left: -26px; }
      .index footer .footer-content .contact .contact-item4:before {
        content: '';
        background: url("../img/icon.png") -68px -704px no-repeat;
        width: 18px;
        height: 18px;
        position: absolute;
        left: -26px; }
      .index footer .footer-content .contact .contact-item5:before {
        content: '';
        background: url("../img/icon.png") -68px -733px no-repeat;
        width: 18px;
        height: 18px;
        position: absolute;
        left: -26px; }
    .index footer .footer-content .map {
      display: flex;
      margin-top: 23px;
      position: relative;
      left: calc(50% - 160px);
      width: 320px; }
      .index footer .footer-content .map li, .index footer .footer-content .map a {
        color: #999999; }
      .index footer .footer-content .map li + li {
        margin-left: 10px;
        position: relative; }
        .index footer .footer-content .map li + li:before {
          content: '';
          width: 1px;
          height: 10px;
          position: absolute;
          background: #999999;
          top: 50%;
          transform: translateY(-50%);
          left: -5px; }
      .index footer .footer-content .map a {
        font-size: 14px; }
        .index footer .footer-content .map a:hover {
          color: #cccccc;
          cursor: pointer; }
    .index footer .footer-content .QR h4 {
      color: #999999;
      margin-bottom: 10px; }
    .index footer .footer-content .rights {
      margin-top: 10px;
      color: #999999; }

.page-wrap {
  padding-top: 0 !important; }
  .page-wrap .bread-nav {
    margin: 0 16px;
    box-shadow: 0 0 7px -1px rgba(0, 0, 0, 0.45);
    position: relative;
    top: -32px;
    background: white;
    line-height: 60px;
    padding: 0 10px; }
    .page-wrap .bread-nav .position .nav-item {
      cursor: pointer;
      font-size: 14px; }
      .page-wrap .bread-nav .position .nav-item:last-child {
        color: #06bf75;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 56px;
        display: inline-block;
        vertical-align: top;
        position: relative;
        top: 2px; }
      .page-wrap .bread-nav .position .nav-item:not(:last-child):after {
        content: '>';
        padding-left: 2px; }
    .page-wrap .bread-nav .next {
      float: right;
      line-height: 61px;
      width: 42vw;
      background: #06bf75;
      position: absolute;
      right: 0;
      top: 0;
      padding: 0 8px;
      font-size: 14px; }
      .page-wrap .bread-nav .next .next-title {
        font-size: 14px;
        padding-left: 40px;
        max-width: 109px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        position: absolute;
        display: inline-block;
        cursor: pointer; }
        .page-wrap .bread-nav .next .next-title:before {
          content: '';
          background: url("../img/icon.png") -4px -2px no-repeat;
          width: 26px;
          height: 20px;
          position: absolute;
          top: 18px;
          left: 6px; }

.new-page .new-wrap li:first-child {
  padding: 0 !important;
  position: relative;
  top: -10px; }
  .new-page .new-wrap li:first-child .new-item {
    position: relative; }
    .new-page .new-wrap li:first-child .new-item img {
      width: 100vw;
      height: 55vw;
      padding: 0 25px; }
    .new-page .new-wrap li:first-child .new-item .new-content {
      position: absolute;
      height: 26vw;
      bottom: 0;
      left: 0;
      margin: 0 25px;
      padding: 10px 25px;
      background: rgba(0, 0, 0, 0.75);
      width: calc(100vw - 50px); }
      .new-page .new-wrap li:first-child .new-item .new-content h5 {
        color: white;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        overflow: hidden;
        word-break: break-all; }
      .new-page .new-wrap li:first-child .new-item .new-content .new-info {
        margin-top: 0; }
        .new-page .new-wrap li:first-child .new-item .new-content .new-info .time {
          color: #999999; }

.content-page .new-title {
  color: #333333;
  font-size: 28px;
  font-weight: 700;
  padding: 0 25px;
  text-align: center; }

.content-page .time {
  text-align: center;
  position: relative;
  margin: 33px 0 24px 0;
  color: #999999; }
  .content-page .time::after {
    content: '';
    display: block;
    width: 114px;
    height: 4px;
    border-radius: 2px;
    background: #cccccc;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -18px; }

.content-page .content {
  padding: 0 20px 30px; }

.application-page .application-list {
  margin: 0 auto;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column; }
  .application-page .application-list li {
    margin-bottom: 28px; }
    .application-page .application-list li a {
      height: 220px;
      margin: 2px;
      display: inline-block;
      position: relative; }
    .application-page .application-list li img {
      width: 90vw;
      height: 50vw; }

.application-page .application-item {
  z-index: 1;
  bottom: 0;
  left: 0;
  align-items: center;
  flex-direction: column; }
  .application-page .application-item h6, .application-page .application-item p, .application-page .application-item i {
    text-align: center;
    color: #333333; }
  .application-page .application-item h6 {
    margin-top: 12px;
    font-size: 18px; }
  .application-page .application-item p {
    margin-top: 8px;
    font-size: 16px; }

.recruitment-page .recruitment-list {
  padding: 0 30px; }
  .recruitment-page .recruitment-list li {
    border-bottom: 1px solid #cccccc;
    padding-bottom: 16px; }
    .recruitment-page .recruitment-list li:first-child .recruitment-item-header {
      margin-top: 0; }
  .recruitment-page .recruitment-list .recruitment-item-header {
    margin: 20px 0;
    display: flex;
    font-size: 18px; }
    .recruitment-page .recruitment-list .recruitment-item-header h5 {
      font-size: 20px;
      flex-grow: 2;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .recruitment-page .recruitment-list .recruitment-item-header .apply {
      border-radius: 4px;
      background: #06bf75;
      padding: 6px 18px 6px 40px;
      display: inline-block;
      position: relative;
      top: -6px;
      color: white;
      font-size: 18px;
      cursor: pointer;
      overflow: hidden; }
      .recruitment-page .recruitment-list .recruitment-item-header .apply input {
        position: absolute;
        font-size: 100px;
        right: 0;
        top: 0;
        opacity: 0;
        cursor: pointer; }
      .recruitment-page .recruitment-list .recruitment-item-header .apply:before {
        content: '';
        position: absolute;
        background: url("../img/icon.png") -1260px -118px no-repeat;
        height: 20px;
        width: 20px;
        top: 9px;
        left: 14px; }
  .recruitment-page .recruitment-list .recruitment-content-detail {
    color: #333333;
    display: none; }
  .recruitment-page .recruitment-list .recruitment-content-brief {
    color: #666666;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    overflow: hidden;
    word-break: break-all; }
  .recruitment-page .recruitment-list .recruitment-item-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px; }
    .recruitment-page .recruitment-list .recruitment-item-footer div {
      color: #999999; }
    .recruitment-page .recruitment-list .recruitment-item-footer .describe-open {
      color: #06bf75;
      position: relative;
      cursor: pointer;
      display: none; }
      .recruitment-page .recruitment-list .recruitment-item-footer .describe-open:before {
        content: '';
        background: url("../img/icon.png") -1180px -118px no-repeat;
        position: absolute;
        height: 16px;
        width: 17px;
        left: -20px;
        top: 4px; }
    .recruitment-page .recruitment-list .recruitment-item-footer .describe-close {
      color: #06bf75;
      position: relative;
      cursor: pointer; }
      .recruitment-page .recruitment-list .recruitment-item-footer .describe-close:before {
        content: '';
        background: url("../img/icon.png") -1180px -118px no-repeat;
        position: absolute;
        height: 16px;
        width: 17px;
        left: -20px;
        top: 4px;
        transform: rotate(180deg); }

.development-page .page-content {
  position: relative; }
  .development-page .page-content:before {
    content: '';
    position: absolute;
    top: -38px;
    width: 4px;
    background: #cccccc;
    left: 50%;
    margin-left: -2px;
    height: 100%; }
  .development-page .page-content .development-item {
    clear: both;
    width: 50%;
    position: relative; }
    .development-page .page-content .development-item .development-header {
      position: relative;
      margin-top: 3px; }
    .development-page .page-content .development-item h5, .development-page .page-content .development-item .icon-play {
      color: #06bf75;
      font-size: 20px; }
    .development-page .page-content .development-item .icon-play {
      position: absolute;
      top: 1px; }
    .development-page .page-content .development-item ul {
      position: relative;
      top: 0; }
      .development-page .page-content .development-item ul li {
        font-size: 14px;
        line-height: 34px;
        color: #4e4e4e; }
    .development-page .page-content .development-item:nth-child(even) {
      float: left;
      text-align: right;
      padding-right: 40px; }
      .development-page .page-content .development-item:nth-child(even):before {
        content: '';
        height: 36px;
        width: 36px;
        border-radius: 50%;
        position: absolute;
        right: -18px;
        top: 0;
        background: #cccccc; }
      .development-page .page-content .development-item:nth-child(even):after {
        content: '';
        height: 22px;
        width: 22px;
        border-radius: 50%;
        position: absolute;
        top: 7px;
        right: -11px;
        background: white; }
      .development-page .page-content .development-item:nth-child(even) .development-header .icon-play {
        right: 70px;
        transform: rotate(180deg);
        display: inline-block; }
      .development-page .page-content .development-item:nth-child(even) ul {
        left: 30px; }
        .development-page .page-content .development-item:nth-child(even) ul li {
          max-width: 100px;
          position: relative; }
          .development-page .page-content .development-item:nth-child(even) ul li:before {
            content: "\e654";
            font-family: "iconfont" !important;
            font-style: normal;
            font-size: 40px;
            position: absolute;
            right: -32px;
            top: -2px;
            color: #999999; }
    .development-page .page-content .development-item:nth-child(odd) {
      float: right;
      text-align: left;
      padding-left: 40px; }
      .development-page .page-content .development-item:nth-child(odd):before {
        content: '';
        height: 36px;
        width: 36px;
        border-radius: 50%;
        position: absolute;
        left: -18px;
        top: 0;
        background: #cccccc; }
      .development-page .page-content .development-item:nth-child(odd):after {
        content: '';
        height: 22px;
        width: 22px;
        border-radius: 50%;
        position: absolute;
        top: 7px;
        left: -11px;
        background: white; }
      .development-page .page-content .development-item:nth-child(odd) .development-header .icon-play {
        left: 70px; }
      .development-page .page-content .development-item:nth-child(odd) ul li {
        left: 20px;
        position: relative;
        max-width: 100px; }
        .development-page .page-content .development-item:nth-child(odd) ul li:before {
          content: "\e654";
          font-family: "iconfont" !important;
          font-style: normal;
          font-size: 40px;
          position: absolute;
          left: -34px;
          top: -2px;
          color: #999999; }

.culture-page ul {
  margin: 0 auto;
  display: flex;
  flex-direction: column; }
  .culture-page ul > li {
    max-width: 220px;
    text-align: center;
    width: 168px;
    margin: 0 auto 40px; }
    .culture-page ul > li h5 {
      color: white;
      font-size: 38px;
      padding-top: 50px;
      padding-bottom: 98px; }
    .culture-page ul > li p {
      width: 220px;
      margin-left: -26px;
      font-size: 18px;
      line-height: 35px; }
  .culture-page ul .culture-item1 {
    background: url("../img/company-culture.jpg") no-repeat; }
  .culture-page ul .culture-item2 {
    background: url("../img/company-culture.jpg") -303px 0 no-repeat; }
  .culture-page ul .culture-item3 {
    background: url("../img/company-culture.jpg") -589px 0 no-repeat; }
  .culture-page ul .culture-item4 {
    background: url("../img/company-culture.jpg") -874px 0 no-repeat; }

.product-page .product-content {
  border-radius: 6px;
  border: 6px solid #06bf75;
  padding: 20px 30px;
  width: 80%;
  margin: 0 auto; }
  .product-page .product-content .product-title {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 28px; }

.product-page .product-info {
  background-size: contain;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 60px; }
  .product-page .product-info li {
    margin: 28px auto 0;
    width: 288px;
    height: 250px;
    text-align: center;
    background: url("../img/product.png") no-repeat;
    background-size: cover;
    padding: 160px 20px 0 20px; }
    .product-page .product-info li p {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
      -webkit-line-clamp: 2;
      overflow: hidden;
      word-break: break-all;
      color: white;
      font-size: 24px; }
  .product-page .product-info .hot {
    background: url("../img/product.png") -325px 0 no-repeat;
    background-size: cover; }
  .product-page .product-info .life {
    background: url("../img/product.png") -648px 0 no-repeat;
    background-size: cover; }

.paging {
  display: flex;
  justify-content: center; }
  .paging > a {
    display: inline-block;
    color: #cccccc; }
  .paging .active {
    color: #06bf75;
    cursor: pointer; }
  .paging .page {
    display: flex;
    justify-content: center; }
    .paging .page li {
      padding: 0 17px; }
      .paging .page li:first-child {
        padding-left: 34px; }
      .paging .page li:last-child {
        padding-right: 34px; }
    .paging .page li a {
      cursor: pointer;
      color: #cccccc; }
    .paging .page .active a {
      cursor: auto;
      color: #333333; }
