$active: #06bf75;
$light: #83dfba;
$dark: #048c56;
$text: #333333;
$text-light: #666666;
$background: #999999;
$line: #cccccc;
$line-menu: #ebebeb;

// 强制不换行超出文字省略号
@mixin ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin multiEllipsis($line) {
  display: -webkit-box;
  -webkit-box-orient: vertical; // 从上向下垂直排列子元素。设置或检索伸缩盒对象的子元素的排列方式 。
  text-overflow: ellipsis; //文本溢出 用省略号显示
  -webkit-line-clamp: $line; // 多少行省略
  overflow: hidden;
  word-break: break-all;
}

// Clearfix
@mixin clearfix {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

@mixin header ($paddingBottom) {
  color: $active;
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  position: relative;
  padding-bottom: $paddingBottom;
  &::after {
    content: '';
    display: block;
    width: 114px;
    height: 4px;
    border-radius: 2px;
    background: $line;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 56px;
  }
}

//公共配置

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $text;
  font-size: 16px;
  font-family: "microsoft yahei";
  -webkit-overflow-scrolling: touch;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  object-fit: cover;
}
.index{
  //导航
  .nav-wrap {
    width: 100vw;
    position: relative;
    .nav {
      @include clearfix;
      position: absolute;
      padding: 28px 22px 0 22px;
      width: 100vw;
      .logo {
        position: absolute;
        z-index: 2;
        width: 180px;
        left: 22px;
        top: 28px;
      }
      .logo-white {
        display: none;
      }
      .icon-menu {
        position: absolute;
        z-index: 2;
        color: white;
        right: 22px;
        top: 28px;
        font-size: 28px;
      }
      .nav-menu {
        display: none;
        width: 100vw;
        position: absolute;
        top: 0;
        left: 0;
        background: white;
        z-index: 2;
        .nav-menu-scroll {
          height: 100vh;
          overflow: scroll;
        }
        .menu-header {
          padding: 20px;
          img {
            width: 50vw;
          }
          .close {
            background: url("../img/close.png") 50% 50% no-repeat;
            background-size: cover;
            height: 32px;
            width: 32px;
            display: inline-block;
            right: 20px;
            position: absolute;
            top: 20px;
          }
        }
        .menu-list {
          border-top: 2px solid $line-menu;
          padding: 0 25px;
          > li {
            border-bottom: 2px solid $line-menu;
          }
          a {
            line-height: 60px;
            text-align: center;
            .icon-arrow-down {
              display: none;
            }
          }
          .active {
            p {
              color: $active;
              font-weight: 700;
            }
            i {
              color: $active;
            }
          }
          .child-menu {
            display: none;
            > li {
              text-align: center;
            }
            a {
              color: $active;
            }
          }
        }
        .menu-footer {
          display: flex;
          flex-direction: column;
          align-items: center;
          border-bottom: 2px solid $line-menu;
          padding-bottom: 23px;
          a {
            margin-top: 23px;
            line-height: 54px;
            width: 152px;
            text-align: center;
            border-radius: 4px;
            border: 1px solid $text;
          }
          .active {
            border: none;
            background: $active;
            color: white;
          }
        }
      }

    }
    //幻灯
    .swiper-container {
      width: 100%;
      height: 291px;
      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: $background;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;

        img {
          width: 100%;
          height: 291px;
        }
      }
      .swiper-pagination-bullet {
        width: 16px;
        height: 8px;
        text-align: center;
        line-height: 20px;
        font-size: 12px;
        color: #000;
        opacity: 1;
        background: white;
        border-radius: 2px;
        z-index: 1;
        position: relative;
        top: -1px;
      }
      .swiper-pagination-bullet-active {
        color: #fff;
        background: $active;
      }
      .swiper-pagination-bullets {
        left: 50%;
        width: auto;
        transform: translateX(-50%);
        background: #686b6e;
        padding: 5px;
        border-radius: 4px;
        bottom: 40px;
      }
    }
    // 头部背景
    .nav-banner {
      width: 100vw;
      height: 260px;
    }
  }
  .suspension {
    .nav {
      position: fixed;
      z-index: 2;
      background: $active;
      height: 60px;
      .logo {
        top: 18px;
      }
      .icon-menu {
        top: 18px;
      }
    }

  }
  section {
    padding-top: 40px;
  }
  section h4 {
    @include header(74px)
  }

  // 特征
  .feature {
    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      > li {
        margin: 0 17px 42px;
      }
      > li > a {
        width: 274px;
        height: 288px;
        border: 1px solid $line;
        display: inline-block;
        position: relative;
        border-radius: 2px;
        .icon {
          width: 274px;
          height: 132px;
        }
        .icon-item1 {
          background: url("../img/icon.png") -80px -446px no-repeat;
        }
        .icon-item2 {
          background: url("../img/icon.png") -397px -446px no-repeat;
        }
        .icon-item3 {
          background: url("../img/icon.png") -1012px -446px no-repeat;
        }
        .icon-item4 {
          background: url("../img/icon.png") -699px -446px no-repeat;
        }
        .info {
          padding: 0 44px 30px;
          color: inherit;
          h5 {
            font-size: 20px;
            text-align: center;
            padding-top: 8px;
            color: inherit;
          }
          p {
            padding-top: 18px;
            text-align: center;
            line-height: 25px;
            color: inherit;
            @include multiEllipsis(3);
          }
        }
      }
      .active {
        a {
          background: $active;
          color: white;
          cursor: pointer;
          border: 1px solid white;
        }
        .icon-item1 {
          background: url("../img/icon.png") -80px -250px no-repeat;
        }
        .icon-item2 {
          background: url("../img/icon.png") -397px -250px no-repeat;
        }
        .icon-item3 {
          background: url("../img/icon.png") -704px -250px no-repeat;
        }
        .icon-item4 {
          background: url("../img/icon.png") -1008px -250px no-repeat;
        }
      }
    }
  }
  //应用
  .application {
    ul {
      margin: 0 auto;
      width: 100vw;
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    li {
      margin-bottom: 28px;
      a {
        width: 90vw;
        height: 50vw;
        margin: 2px;
        display: inline-block;
        position: relative;
      }
    }
    img {
      width: 90vw;
      height: 50vw;
    }
    .application-item {
      z-index: 1;
      position: absolute;
      bottom: 0;
      left: 0;
      background: linear-gradient(to bottom, rgba(79,79,79,0) 38%,rgba(69,69,69,0) 41%,rgba(0,0,0,0.22) 61%,rgba(0,0,0,0.65) 100%,rgba(0,0,0,0.65) 101%);
      width: 90vw;
      height: 25vw;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      h6, p, i {
        text-align: center;
        color: white;
      }
      h6 {
        font-size: 18px;
        margin-bottom: 3vw;
        margin-top: 6vw;
      }
      p {
        font-size: 16px;
      }
    }
    .active > a {
      cursor: pointer;
      &:before {
        content: '';
        background: $active;
        opacity: 0.9;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
      }
      .application-item {
        display: flex;
      }
    }
  }
  // 简介
  .introduction {
    .introduction-content {
      background: url("../img/introduction.jpg") 50% 50% no-repeat;
      width: 100vw;
      height: 387px;
      background-size: cover;
      position: relative;
      p {
        color: white;
        line-height: 28px;
        width: 80vw;
        @include multiEllipsis(3);
        position: absolute;
        bottom: 100px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
      }
    }
  }
  // 新闻
  .new {
    .new-wrap {
      @include clearfix;
      li {
        width: 100vw;
        padding: 0 25px;
        margin-bottom: 30px;
      }
      .new-item {
        display: flex;
        justify-content: center;
        img {
          width: 30vw;
          height: 20vw;
        }
        &:hover {
          cursor: pointer;
        }
      }
      .new-content {
        margin-left: 14px;
        h5 {
          font-size: 16px;
          font-weight: 700;
          @include multiEllipsis(2);
          width: 196px;
        }
        p {
          line-height: 28px;
          color: $text-light;
          @include multiEllipsis(3);
          font-size: 16px;
        }
        .new-info {
          font-size: 14px;
          margin-top: 10px;
          display: flex;
          justify-content: space-between;
          .time {
            color: $text-light;
          }
          .more {
            color: $active;
            position: relative;
            padding-right: 14px;
            &:before{
              content: '';
              background: url('../img/icon.png') -848px -118px no-repeat;
              width: 26px;
              height: 16px;
              position: absolute;
              left: -32px;
              top: 4px;
            }
          }
        }
      }
    }
  }
  // 尾部
  footer {
    margin-top: 20px;
    height: 480px;
    width: 100vw;
    background-size: cover;
    background: url("../img/footer.jpg") 50% 50%;
    .footer-wrap {
      width: 100vw   ;
      padding: 30px 25px 0;
      display: flex;
      flex-direction: column;
    }
    .footer-content {
      color: $background;
      text-align: center;
      .footer-logo {
        color: inherit;
        font-size: 18px;
        text-align: center;
        font-weight: 700;
        position: relative;
        left: 44px;
        display: inline-block;
        &:before {
          content: '';
          background: url("../img/logo-no-text.png") no-repeat;
          background-size: 84px 20px;
          width: 84px;
          height: 20px;
          position: absolute;
          top: 1px;
          left: -88px;
        }
      }

      .contact {
        margin: 20px 0 26px 0;
        align-items: center;
        display: flex;
        flex-direction: column;

        li {
          width: 280px;
          color: $background;
          margin-bottom: 10px;
          font-size: 14px;
          position: relative;
          left: 18px;
          text-align: left;
        }
        .contact-item1 {
          &:before {
            content: '';
            background: url("../img/icon.png") -68px -620px no-repeat;
            width: 18px;
            height: 18px;
            position: absolute;
            left: -26px;
          }
        }
        .contact-item2 {
          &:before {
            content: '';
            background: url("../img/icon.png") -68px -649px no-repeat;
            width: 18px;
            height: 18px;
            position: absolute;
            left: -26px;
          }
        }

        .contact-item3 {
          &:before {
            content: '';
            background: url("../img/icon.png") -68px -675px no-repeat;
            width: 18px;
            height: 18px;
            position: absolute;
            left: -26px;
          }
        }
        .contact-item4 {
          &:before {
            content: '';
            background: url("../img/icon.png") -68px -704px no-repeat;
            width: 18px;
            height: 18px;
            position: absolute;
            left: -26px;
          }
        }
        .contact-item5 {
          &:before {
            content: '';
            background: url("../img/icon.png") -68px -733px no-repeat;
            width: 18px;
            height: 18px;
            position: absolute;
            left: -26px;
          }
        }
      }
      .map {
        display: flex;
        margin-top: 23px;
        position: relative;
        left: calc(50% - 160px);
        li, a {
          color: $background;
        }
        li + li {
          margin-left: 10px;
          position: relative;
          &:before {
            content: '';
            width: 1px;
            height: 10px;
            position: absolute;
            background: $background;
            top: 50%;
            transform: translateY(-50%);
            left: -5px;
          }
        }
        a {
          font-size: 14px;
          &:hover {
            color: $line;
            cursor: pointer;
          }
        }
      }
      .QR {
        h4 {
          color: $background;
          margin-bottom: 10px;
        }
      }
      .rights {
        margin-top: 10px;
        color: $background;
      }
    }
  }
}

.page-wrap {
  padding-top: 0!important;
  .bread-nav {
    margin: 0 16px;
    box-shadow: 0 0 7px -1px rgba(0,0,0,0.45);
    position: relative;
    top: -32px;
    background: white;
    line-height: 60px;
    padding: 0 10px;
    .position {
      .nav-item {
        cursor: pointer;
        font-size: 14px;
        &:last-child {
          color: $active;
          @include ellipsis;
          max-width: 56px;
          display: inline-block;
          vertical-align: top;
          position: relative;
          top: 2px;
        }
        &:not(:last-child) {
          &:after {
            content: '>';
            padding-left: 2px;
          }
        }
      }
    }
    .next {
      float: right;
      line-height: 61px;
      width: 42vw;
      background: $active;
      position: absolute;
      right: 0;
      top: 0;
      padding: 0 8px;
      font-size: 14px;

      .next-title {
        font-size: 14px;
        padding-left: 40px;
        max-width: 109px;
        @include ellipsis;
        position: absolute;
        display: inline-block;
        cursor: pointer;
        &:before {
          content: '';
          background: url("../img/icon.png") -4px -2px no-repeat;
          width: 26px;
          height: 20px;
          position: absolute;
          top: 18px;
          left: 6px;
        }
      }
    }
  }

}

// 新闻页面
.new-page {
   .new-wrap li:first-child {
       padding: 0!important;
       position: relative;
       top: -10px;
       .new-item {
         position: relative;
         img {
           width: 100vw;
           height: 55vw;
           padding: 0 25px;
         }
         .new-content {
           position: absolute;
           height: 26vw;
           bottom: 0;
           left: 0;
           margin: 0 25px;
           padding: 10px 25px;
           background: rgba(0, 0, 0, .75);
           width: calc(100vw - 50px);
           h5 {
             color: white;
             @include multiEllipsis(2);
           }
           .new-info {
             margin-top: 0;
             .time {
               color: $background;
             }
           }
         }
       }
     }
}

// 内容页面
.content-page {
  .new-title {
    color: $text;
    font-size: 28px;
    font-weight: 700;
    padding: 0 25px;
    text-align: center;
  }
  .time {
    text-align: center;
    position: relative;
    margin: 33px 0 24px 0;
    color: $background;
    &::after {
      content: '';
      display: block;
      width: 114px;
      height: 4px;
      border-radius: 2px;
      background: $line;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: -18px;
    }
  }
  .content {
    padding: 0 20px 30px;
  }
}
// 应用页面
.application-page {
  .application-list {
    margin: 0 auto;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    li {
      margin-bottom: 28px;
      a {
        height: 220px;
        margin: 2px;
        display: inline-block;
        position: relative;
      }
      img {
        width: 90vw;
        height: 50vw;
      }
    }
  }


  .application-item {
    z-index: 1;
    bottom: 0;
    left: 0;
    align-items: center;
    flex-direction: column;
    h6, p, i {
      text-align: center;
      color: $text;
    }
    h6 {
      margin-top: 12px;
      font-size: 18px;
    }
    p {
      margin-top: 8px;
      font-size: 16px;
    }
  }
}
// 招聘页面
.recruitment-page {
  .recruitment-list {
    padding: 0 30px;
    li {
      border-bottom: 1px solid $line;
      padding-bottom: 16px;
      &:first-child {
        .recruitment-item-header {
          margin-top: 0;
        }
      }
    }
    .recruitment-item-header {
      margin: 20px 0;
      display: flex;
      font-size: 18px;
      h5 {
        font-size: 20px;
        flex-grow: 2;
        @include ellipsis;
      }

      .apply {
        border-radius: 4px;
        background: $active;
        padding: 6px 18px 6px 40px;
        display: inline-block;
        position: relative;
        top: -6px;
        color: white;
        font-size: 18px;
        cursor: pointer;
        overflow: hidden;
        input {
          position: absolute;
          font-size: 100px;
          right: 0;
          top: 0;
          opacity: 0;
          cursor: pointer;
        }

        &:before {
          content: '';
          position: absolute;
          background: url("../img/icon.png") -1260px -118px no-repeat;
          height: 20px;
          width: 20px;
          top: 9px;
          left: 14px;
        }
      }
    }
    .recruitment-content-detail {
      color: $text;
      display: none;
    }
    .recruitment-content-brief {
      color: $text-light;
      @include multiEllipsis(3);
    }

    .recruitment-item-footer {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
      div {
        color: $background;
      }
      .describe-open {
        color: $active;
        position: relative;
        cursor: pointer;
        display: none;
        &:before {
          content: '';
          background: url("../img/icon.png") -1180px -118px no-repeat;
          position: absolute;
          height: 16px;
          width: 17px;
          left: -20px;
          top: 4px;
        }
      }
      .describe-close {
        color: $active;
        position: relative;
        cursor: pointer;
        &:before {
          content: '';
          background: url("../img/icon.png") -1180px -118px no-repeat;
          position: absolute;
          height: 16px;
          width: 17px;
          left: -20px;
          top: 4px;
          transform: rotate(180deg);
        }
      }
    }

  }
}
.development-page {

  .page-content {
    position: relative;
    &:before {
      content: '';
      position: absolute;
      top: -38px;
      width: 4px;
      background: $line;
      left: 50%;
      margin-left: -2px;
      height: 100%;
    }
    .development-item {
      clear: both;
      width: 50%;
      position: relative;
      .development-header {
        position: relative;
        margin-top: 3px;
      }
      h5, .icon-play {
        color: $active;
        font-size: 20px;
      }

      .icon-play {
        position: absolute;
        top: 1px;
      }

      ul {
        position: relative;
        top: 0;
        li {
          font-size: 14px;
          line-height: 34px;
          color: #4e4e4e;
        }
      }
      //左边
      &:nth-child(even) {
        float: left;
        text-align: right;
        padding-right: 40px;

        &:before {
          content: '';
          height: 36px;
          width: 36px;
          border-radius: 50%;
          position: absolute;
          right: -18px;
          top: 0;
          background: $line;
        }
        &:after {
          content: '';
          height: 22px;
          width: 22px;
          border-radius: 50%;
          position: absolute;
          top: 7px;
          right: -11px;
          background: white;
        }
        .development-header {
          .icon-play {
            right: 70px;
            transform: rotate(180deg);
            display: inline-block;
          }
        }
        ul {
          left: 30px;
          li {
            max-width: 100px;
            position: relative;
            &:before {
              content: "\e654";
              font-family: "iconfont" !important;
              font-style: normal;
              font-size: 40px;
              position: absolute;
              right: -32px;
              top: -2px;
              color: $background;
            }
          }
        }

      }
      //右边
      &:nth-child(odd) {
        float: right;
        text-align: left;
        padding-left: 40px;
        &:before {
          content: '';
          height: 36px;
          width: 36px;
          border-radius: 50%;
          position: absolute;
          left: -18px;
          top: 0;
          background: $line;
        }
        &:after {
          content: '';
          height: 22px;
          width: 22px;
          border-radius: 50%;
          position: absolute;
          top: 7px;
          left: -11px;
          background: white;
        }
        .development-header {
          .icon-play {
            left: 70px;
          }
        }
        ul {
          li {
            left: 20px;
            position: relative;
            max-width: 100px;
            &:before {
              content: "\e654";
              font-family: "iconfont" !important;
              font-style: normal;
              font-size: 40px;
              position: absolute;
              left: -34px;
              top: -2px;
              color: $background;
            }
          }
        }
      }
    }
  }
}
// 分页
.paging {
  display: flex;
  justify-content: center;
  > a {
    display: inline-block;
    color: $line;
  }
  .active {
    color: $active;
    cursor: pointer;
  }
  .page {
    display: flex;
    justify-content: center;
    li {
      padding: 0 17px;
      &:first-child {
        padding-left: 34px;
      }
      &:last-child {
        padding-right: 34px;
      }
    }
    li a {
      cursor: pointer;
      color: $line;
    }
    .active a {
      cursor: auto;
      color: $text;
    }
  }
}